.devis {
  display: flex;
  height: 500px;
  background-color: $bleumiclair;
}

.Devis_bloc {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 85%;
  background-color: $bleumifonce;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.Devis_bloc_2 {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 85%;
  background-color: $bleumifonce;
  visibility: hidden;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.Devis_Bloc_choix {
  display: flex;
  justify-content: space-around;
}

.marge_prestation {
  padding: 35px 35px 35px 35px !important;
}

.active {
  color: white !important;
  background-color: #0d3269 !important;
}

.activeH3 {
  color: white !important;
}

.activep {
  color: #94d9ff !important;
}

.Prestation__grid button {
  border: transparent !important;
  background-color: transparent !important;
}

.Prestation__grid__choix {
  display: none;
  width: 100%;
}

.animation_choixdevis {
  animation: animation_choixdevis 1s linear 0s 1 normal forwards;

  visibility: none;

  display: flex;
}

.animation_choixdevis_reverse {
  display: none;
}

// @keyframes animation_choixdevis {
//   0% {
//     height: 0%;
//     padding: 0px;
//     opacity: 0;
//     display: none;
//   }

//   100% {
//     height: 100%;
//     padding: 44px 40px 40px 48px;
//     opacity: 10;
//     display: flex;
//   }
// }

.Devis_form {
  color: #6e7191;
  font-size: 18px;
  line-height: 1.667em;
  letter-spacing: 0.02em;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 22px;
  grid-row-gap: 24px;
  grid-template-columns: 1fr;
  label {
    color: black;
  }
}

.sendForm {
  width: 73px;
  height: 18px;
  padding: 10px 30px;
  font-size: 1.6rem;
  background: #cd9251;
  font-weight: 700;
  color: #fff;
  text-align: center;
  border: 1px solid transparent;
}

.Devis_form_template {
  min-height: 50px;
  width: 100%;
  padding: 8px 12px 8px 21px;
  background-color: #ffffff;

  border: 1px solid #cccccc;
  border-color: #eff0f6;
  border-radius: 1000px;
  box-shadow: 0 2px 6px 0 rgba(19, 18, 66, 0.07);

  font-size: 18px;
  line-height: 1.111em;
  letter-spacing: 0.02em;

  background-position: 90% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.Devis_Form_text {
  background-image: url("https://uploads-ssl.webflow.com/611d12c5506e6465d1a6a980/611d12c5506e64017aa6a9ec_icon-1-input-marketing-template.svg");
}

.Devis_Form_email {
  background-image: url("https://uploads-ssl.webflow.com/611d12c5506e6465d1a6a980/611d12c5506e643abfa6a9e7_icon-2-input-marketing-template.svg");
}

.Devis_Form_tel {
  background-image: url("https://uploads-ssl.webflow.com/611d12c5506e6465d1a6a980/611d12c5506e64637ba6a9ea_icon-3-input-marketing-template.svg");
}

.Devis_Form_entreprise {
  background-image: url("https://uploads-ssl.webflow.com/611d12c5506e6465d1a6a980/611d12c5506e6405daa6a9e8_icon-4-input-marketing-template.svg");
}

.Devis_Form_titre {
  width: 66%;
  margin-bottom: 30px;
}

.precedent {
  display: block;
  width: 93px;
  height: 45px;
  top: 105px;
  right: 50px;
  z-index: 9999;
  border-radius: 50px;
  position: absolute;
  align-self: center;
}
.suivant {
  display: block;
}

/////////////////////////////////////@at-root
///
///  Ajout flo
///

@media (min-width: 100em) {
  #tns1 {
    width: calc(100%);
    height: auto;
    padding-bottom: 100px;
  }
}

.displaynone {
  display: none;
}

.Prestationdevis {
  margin: 0 5% 50px 5%;
}

.Prestationdevis h2 {
  margin-top: 140px;
  margin-bottom: 50px;
}

.slide h2 {
  color: white;
  margin-top: 60px;
  margin-left: 8%;
  margin-bottom: 50px;
}

.slide h2 div button {
  color: white;
}

.slide {
  height: 500px;
}

.suivant {
  display: none;
}

.Prestation__grid__form {
  display: flex;
  position: relative;
  margin-top: 30px;
  margin-bottom: 190px;
  height: auto;
}

.tns-outer {
  width: 100%;
  height: 100%;
}

.etape1 {
  width: 600px;

  background-color: #0d3269;
  &__flex {
    display: flex;
    gap: 5%;
    justify-content: center;
    button {
      color: rgb(194, 227, 247);
      padding: 50px;
      border-radius: 20px;
      background-image: linear-gradient(135deg, #119cd7, #0b3177);
      border: white 2px solid;
    }
  }
}

.formulaire {
  display: flex;
  flex-direction: column;
}

label {
  color: white;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

//  Formulaire de contact

.formulaire {
  display: flex;
  flex-direction: row;
  border: 3px solid #0d3269;
  border-radius: 30px;
  box-shadow: 0 6px 12px 0 rgb(53 53 89 / 18%);

  &__left {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 24px 0 0 24px;
    background-color: #0d3269;
    h3,
    p {
      color: white;
    }
    h3 {
      margin-top: 50px;
      margin-bottom: 30px;
    }
    &_4 {
      display: flex;
      align-items: flex-end;
      height: 100%;
    }
  }
}

.tns-outer {
  width: auto;
  height: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 32px;
  grid-gap: 12px 16px;
  gap: 12px 16px;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    label {
      margin-bottom: 10px;
    }
  }
}

.ligne {
  input {
    width: 100%;
  }
  textarea {
    padding: 30px;
    width: 100%;
    height: 200px;
    border-radius: 20px;
  }

  grid-column-start: 1;
  grid-column-end: 3;
}

/////////////////////////////////////////
///

@media screen and (max-width: 1023px) {
  .formulaire__left_all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contact {
    margin-bottom: 100px;
  }

  .formulaire {
    display: flex;
    flex-direction: column;
    border: 3px solid #0d3269;
    border-radius: 30px;
    box-shadow: 0 6px 12px 0 rgb(53 53 89 / 18%);

    &__left {
      display: flex;
      flex-direction: column;
      padding: 50px;
      border-radius: 24px 24px 0 0;
      background-color: #0d3269;

      p {
        color: rgb(215, 199, 199);
      }
      h3 {
        margin-top: -7px;
        margin-bottom: 20px;
      }
      &_4 {
        display: none;
      }
    }
  }

  .contact__grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 32px 23px;
    grid-gap: 12px 16px;
    gap: 12px 16px;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      label {
        margin-bottom: 10px;
      }
    }
  }

  .Prestation__grid__form {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 991px) {
  .precedent {
    top: 103px;
    right: 30px;
    font-size: 14px;
    width: 62px;
    height: 35px;
  }
  .slide h2 {
    font-size: 30px;
  }
  .etape1__flex button {
    color: rgb(194, 227, 247);
    padding: 30px;
    border-radius: 20px;
    background-image: linear-gradient(135deg, #119cd7, #0b3177);
    border: white 2px solid;
  }
}

@media screen and (max-width: 767px) {
  .formulaire__left_all {
    display: none;
  }
  label {
    font-size: 14px;
  }

  .contact__grid div label {
    margin-bottom: 1px;
  }
  input::placeholder,
  .select {
    font-size: 12px;
  }

  .Devis_form_template {
    min-height: 42px;
  }

  .contact__grid {
    padding: 0px 19px 23px;
  }

  .Devis_Form_entreprise,
  .Devis_Form_tel,
  .Devis_Form_email,
  .Devis_Form_text {
    background-image: none;
  }
}

@media screen and (max-width: 556px) {
  .Footer {
    margin-top: 800px;
  }

  .formulaire {
    margin: 15px;
  }

  .Prestation__grid__form {
    display: flex;
    position: relative;
    height: 305px;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: -29px;
    margin-right: -27px;
  }

  .precedent {
    top: 98px;
    right: 7px;
    font-size: 12px;
    width: 62px;
    height: 35px;
  }
  .slide h2 {
    font-size: 20px;
    margin-left: 28px;
    max-width: 342px;
  }
  .etape1__flex button {
    color: rgb(194, 227, 247);
    font-size: 13px;
    padding: 11px;
    border-radius: 20px;
    background-image: linear-gradient(135deg, #119cd7, #0b3177);
    border: white 2px solid;
  }

  .etape1__flex {
    gap: 3%;
  }

  .etape_margin {
    margin: 0 10px 0 19px;
  }
}

@media screen and (max-width: 375px) {
  .Prestation__grid__form {
    display: flex;
    position: relative;
    height: 305px;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: -29px;
    margin-right: -27px;
  }

  .precedent {
    top: 96px;
    right: 7px;
    font-size: 12px;
    width: 62px;
    height: 30px;
  }
  .slide h2 {
    font-size: 16px;
  }
}
