@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");

$text: #7288a2;
$gray: #4d5974;
$lightgray: #e5e5e5;
$blue: #03b5d2;

.Header_description_faq {
  margin: 0 auto 48px auto;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  font-size: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.36px;
  color: #ffffff;
  justify-content: space-evenly;
  margin-bottom: 70px;
}

.container {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
  margin-bottom: 100px;
}

.accordion {
  .accordion-item {
    button[aria-expanded="open"] {
      border-bottom: 1px solid $blue;
    }
  }

  button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    font-size: 1.15rem;
    font-weight: 400;
    background-color: #0e3c6e;
    color: white;
    margin-bottom: 5px;
    border: 10px white;
    border-radius: 6px;

    &:hover,
    &:focus {
      cursor: pointer;
      color: $blue;
    }

    .accordion-title {
      padding: 1em 1.5em 1em 10px;
    }

    .icon {
      display: inline-block;
      position: absolute;
      top: 18px;
      right: 30px;
      width: 22px;
      height: 22px;
      border: 1px solid;
      border-radius: 22px;

      &::before,
      &::after {
        position: absolute;
        content: "";
        background: currentColor;
      }

      &::before {
        top: 9px;
        left: 5px;
        width: 10px;
        height: 2px;
      }

      &::after {
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
      }
    }
<<<<<<< HEAD
  }

  button[aria-expanded='false'] {

    .accordion-content {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity 700ms linear, max-height 200ms linear;
      will-change: opacity, max-height;
      p {
        font-size: 1rem;
        font-weight: 300;
      }
    }
  }
  button[aria-expanded='true'] {
    color: $blue;
    .icon {
      &::after {
=======

    &[aria-expanded="open"] {
      color: $blue;
      .icon::after {
>>>>>>> 5ee3a9d3b19addbd06d8cfb7d89d5141f3664dbf
        width: 0;
      }

      + .accordion-content {
        animation-name: openContent;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
      }
    }

    &[aria-expanded="close"] {
      color: $lightgray;

      + .accordion-content {
        animation-name: closeContent;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
      }
    }
  }

  .accordion-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
}

.open {
  margin-bottom: 10px;
}

@keyframes openContent {
  0% {
    max-height: 0;
    opacity: 0;
    padding: 0;
  }

  100% {
    max-height: 1000px;
    opacity: 1;
    padding: 10px 20px;
    background-color: #d2e0eb;
  }
}

@keyframes closeContent {
  0% {
    max-height: 1000px;
    opacity: 1;
    padding: 10px 20px;
  }

  50% {
    padding: 10px 20px;
  }
  100% {
    max-height: 0;
    opacity: 0;
    padding: 0;
  }
}
