/* Footer */

.Footer {
  
  background : url("/images/vague.svg");    
  display: flex;
  width: 100%;
  padding-top:100px;
  background-size: cover;
  &__left {
    margin-left: 30px;
    margin-top: -180px;
    img {
      width: 400px;
      height: auto;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    padding: 50px 0% 50px 3%;
    &__devis {
    }
  }
}

.Footer__right {
  margin: 10px 30px;
  width: 100%;
  &__devis {
    border: 3px white solid;
    border-radius: 1000px;
    display: flex;
    justify-content: space-between;

    p {
      color: white;
      padding: 10px 0 10px 10px;
      margin-left: 20px;
    }
    button {
      background-color: white;
      color: #3471cb;
      border-radius: 1000px;
      padding: 10px 10px 10px 10px;
    }
  }
  &__link {
    display: flex;
    gap: 60px;
    margin-top: 40px;
    margin-right: 30px;
    &__container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      h3 {
        font-size: 26px;
        color: white;
        margin-bottom: 30px;
      }
      p {
        color: #97b6e7;
        margin-bottom: 7px;
      }
    }
  }
}

.Footer__right__link__horizontalBarre {
  border-top: 2px solid #d9dbe9;
  opacity: 52%;
  margin-top: 30px;
}
.Footer__right__link__mentionLegal {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;

    p {
      margin-right: 30px;
      margin-top: 10px;
      transition: all 0.5s;
    }
    :hover {
      color: white;
    }
  }
}
