.navbar {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #0f3d6e;
  padding-left: 400px;
  display: flex;

  &__links {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    width: 100px;

    &__logo {
      position: absolute;
      width: 282.61px;
      height: auto;
      left: 80px;
      top: 40px;
    }
    &__a {
      width: auto;
      font-weight: 700;
      font-size: 18px;
      margin: 0 1rem;
      display: flex;
    }
    &__end {
      width: 100%;
      font-weight: 700;
      font-size: 18px;
      display: flex;
      justify-content: flex-end;

      margin: 0 20px;
      a {
        background-color: #1277ba;
      }
    }
  }
}

.devis {
  width: 125px;
}

@media screen and (max-width: 1388px) {
  .navbar {
    padding-left: 234px;
    // flex-wrap: wrap;
    &__links {
      &__logo {
        width: 182.61px;
        left: 37px;
      }
      &__a {
        font-size: 15px;
        margin: 0 7px;
      }
      &__end {
        justify-content: flex-end;
        font-size: 14px;
        a {
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
}
