.Header_global {
  position: relative;
  overflow: hidden;
  padding: 130px 5% 70px 5%;
}

.Header_titre {
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.36px;
  color: #ffffff;
  justify-content: space-evenly;
  margin-bottom: 18px;
  padding: 50px 0 0 0;
  font-size: 30px;
}

.Header_creation {
  font-style: normal;
  font-weight: 700;
  line-height: 1.233em;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1.2px;
  margin-bottom: 24px;
  color: #14142b;
  justify-content: space-evenly;
}

.Header_description {
  max-width: 500px;
  margin: 0px auto 48px auto;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  font-size: 19px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.36px;
  margin-bottom: 70px;
  color: #ffffff;
  justify-content: space-evenly;
}

.Header_button {
  background: #0051b1;
  box-shadow: 0px 8px 22px #3f80fd;
  border-radius: 1000px;
  justify-content: space-evenly;
  margin: auto;
  display: flex;
  color: white;
  padding: 18px 25px;
  line-height: 1.111em;
  font-weight: 700;
  text-align: center;
  font-size: 17px;
}

@media screen and (max-width: 991px) {
  .Header_creation {
    max-width: 576px;
    margin: auto;
    margin-bottom: 16px;
  }
  .Header_description {
    color: #f9c9c9;
    margin-bottom: 22px;
  }
}

@media screen and (max-width: 767px) {
  .Header_creation {
    font-size: 42px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .Header_description {
    color: #f9c9c9;
  }
}

@media screen and (max-width: 479px) {
  .Header_creation {
    max-width: 402px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
    font-size: 35px;
  }
  .Header_description {
    color: #f9c9c9;
  }
}
