.Header_global {
  position: relative;
  overflow: hidden;
  padding: 130px 5% 70px 5%;
}

.Header_titre {
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.36px;
  color: #ffffff;
  justify-content: space-evenly;
  margin-bottom: 18px;
  padding: 50px 0 0 0;
  font-size: 30px;
}

.Header_creation {
  font-style: normal;
  font-weight: 700;
  line-height: 1.233em;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1.2px;
  margin-bottom: 24px;
  color: #14142b;
  justify-content: space-evenly;
}

.Header_description {
  max-width: 500px;
  margin: 0px auto 48px auto;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  font-size: 19px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.36px;
  margin-bottom: 70px;
  color: #ffffff;
  justify-content: space-evenly;
}



.Header_button {
  background: #0051b1;
  box-shadow: 0px 8px 22px #3f80fd;
  border-radius: 1000px;
  justify-content: space-evenly;
  margin: auto;
  display: flex;
  color: white;
  padding: 18px 25px;
  line-height: 1.111em;
  font-weight: 700;
  text-align: center;
  font-size: 17px;
  overflow: hidden;
  transition: all 2s ease;
  position: relative;
}

.Header_button:before {
  content: "";
  background-image: linear-gradient(135deg, #119cd7, #0b3177);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  z-index: 11;
  transition: all 0.6s ease;
  width: 0%;
  height: 100%;
  z-index: -1;
}

.Header_button:hover {
  background-color: transparent;
}

.Header_button:hover::before {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .Header_creation {
    max-width: 576px;
    margin: auto;
    margin-bottom: 16px;
  }
  .Header_description {
    color: #f9c9c9;
    margin-bottom: 22px;
  }
}

@media screen and (max-width: 767px) {
  .Header_creation {
    font-size: 42px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .Header_description {
    color: #f9c9c9;
  }
}

@media screen and (max-width: 479px) {
  .Header_creation {
    max-width: 402px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
    font-size: 35px;
  }
  .Header_description {
    color: #f9c9c9;
  }
}

.cube {
  z-index: -1;
  position: absolute;
  top: 34vh;
  left: 78vw;
  width: 10px;
  height: 10px;
  border: solid 1px darken(#0040c1, 8%);
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;

  &:nth-child(2n) {
    border-color: lighten(#0040c1, 10%);
  }

  &:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }

  &:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }

  &:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }

  &:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 47vh;
  }

  &:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 13vh;
  }
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}
