.input-block {
  position: relative;
  margin-top: 15px;
}

input {
  background-color: rgba(rgb(233, 154, 154), 0.8);

  margin-bottom: 20px;
  &:focus {
    background-color: rgba(rgb(255, 255, 255), 0.8);
    transition: all 1s cubic-bezier(0.04, 0.79, 1, 0.96);
  }
}

label {
  position: absolute;
  margin-left: 15px;
  padding-bottom: 5px;
  top: -6px;
}
