.eror{

    background-color:$bleumiclair;
    padding-bottom: 100px;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}
.eror:hover{
    background-color: $bleumifonce;
}

.error{
    font-size: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
}

.oups{
    display: flex;
    justify-content: end;
    margin-right: 10%;
    color:white;
    
}

