.Nous {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  padding-bottom: 100px;
  margin: 0 auto;
  max-width: 1200px;
  &__image_gauche {
    max-width: 415px;
    margin-left: 100px;
    margin-right: 30px;
  }
  &__content {
    max-width: 727px;
    p {
      margin-top: 15px;
      color: #fff;
    }
    h3 {
      font-size: 20px;
    }
    .descriptif-dev {
      margin-top: 0px;
      color: #fff;
    }
  }
}

.Nous_content__bottom {
  &__container {
    display: flex;
    margin: 20px 0;
    &__text {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: 991px) {
  .Nous {
    padding-bottom: 90px;
    flex-direction: column;
    &__image_gauche {
      order: 1;
      max-width: 347px;
      padding-top: 43px;
      margin: auto;
    }
    &__content {
      max-width: max-content;
      align-items: center;
      justify-content: center;
      text-align: center;

      p {
      }
      h3 {
      }
    }
  }

  .Nous_content__bottom {
    &__container {
      max-width: max-content;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 20px auto;
      &__text {
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .Nous {
    padding: 0px 8% 50px 8%;
    &__image_gauche {
      max-width: 290px;
      margin: auto;
      padding-top: 25px;
    }
    &__content {
      text-align: start;
      h2 {
        font-size: 30px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        margin: 21px 0px;
      }
    }
  }

  .Nous_content__bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__container {
      img {
        width: 80px;
      }
      &__text {
        text-align: start;
        h2 {
          font-size: 31px;
        }
        h3 {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 478px) {
  .Nous {
    padding: 0px 8% 60px 8%;
    &__image_gauche {
      margin-top: 0px;
    }
    &__content {
      h2 {
      }
      p {
      }
    }
  }

  .Nous_content__bottom {
    &__container {
      img {
      }
      &__text {
        h2 {
        }
        h3 {
        }
      }
    }
  }
}
