
/* Nous */

.Nous{
    background-color: $bleufonce;
    color:white;
    min-height: 1000px;
}
.Nous_titre{
    margin: auto;
    text-align: center;
}

.Nous_developpeur{
    margin-left: 900px;
    margin-top: 30px;
    background: #F78D4D;
    border-radius: 17px;
    text-align: center;
    color: #FFFFFF;
    max-width: 150px
}

.Nous_colonne{
    display: flex;
    margin-top: 30px;
}

.Nous_image{
    width: 850px;
    display: flex;
    flex-direction: column;
    max-height: 700px;
}
.large{
    width: 850px;
    display: flex;
    height: 50%;
}

.Nous_Image_1{
    width: 45%;
    margin: 5%;
    margin-top: 0px;
    height: 90%;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}
.Nous_Image_23{
    width: 45%;
    height: 45%;
    margin:5%;
    margin-top: 0px;
}
.Nous_Image_2{
    width: 100%;
    height: 90%;
    -webkit-transition: all 400ms;
    transition: all 400ms;

}
.Nous_Image_3{
    width: 100%;
    height: 90%;
    margin-top: 10%;
    -webkit-transition: all 400ms;
    transition: all 400ms;

}
.Nous_Image_4{
    width: 50%;
    margin: 5%;
    height: 100%;
    -webkit-transition: all 400ms;
    transition: all 400ms;

}
.Nous_Image_5{
    width: 35%;
    margin: 5%;
    height: 100%;
    -webkit-transition: all 400ms;
    transition: all 400ms;

}
.Nous_Image_1:hover{
    transform: scale(1.15);
    cursor: pointer;
}
.Nous_Image_2:hover{
    transform: scale(1.15);
    cursor: pointer;
}
.Nous_Image_3:hover{
    transform: scale(1.15);
    cursor: pointer;
}
.Nous_Image_4:hover{
    transform: scale(1.15);
    cursor: pointer;
}
.Nous_Image_5:hover{
    transform: scale(1.15);
    cursor: pointer;
}

.Nous_partenaire{
    width: 45%;
    margin-left: 4%;
}

.Nous_parfaitpartenaire{
}
.Nous_partenaire_text{
    margin-top: 35px;
    min-height: 250px;
}

.Nous_julien{
    display: flex;
}

.Nous_Julien_titre{
    display: flex;
    flex-direction: column;
    margin-top : auto;
    margin-bottom: auto;
    margin-left: 25px;
}

.Nous_Julien_dev{
    margin-top:5px;
}

.Nous_florent{
    display: flex;
    margin-top: 5px;
}


@media only screen and (max-width: 1301px) and (min-width:870px) {
    .Nous_colonne{
      flex-direction: column;
      margin:auto;
    
      
    }
    .Nous_developpeur{
        margin-right: auto;
        margin-left: auto;
    }

    .Nous_image{
        margin-right: auto;
        margin-left: auto;
    }
    .large{
        margin-right: auto;
        margin-left: auto;
    }

    .Nous_Image_1{
        height: 350px;
    }

    .Nous_Image_23{
        height: 175px;
    }

    .Nous_Image_4{
        height: 200px;
    }

    .Nous_Image_5{
        height: 200px;
    }

    .Nous_partenaire{
        width: 90%;
    }

    .Nous_julien{
        flex-direction: row;
        justify-content: flex-end;
    }
    .Nous_florent{
        flex-direction: row;
        justify-content: flex-end;
    }

    .Nous{
        padding-bottom: 100px;
    }
  
  }

  @media only screen and (max-width: 871px) {
    .Nous_colonne{
      flex-direction: column-reverse;
      margin:auto;
    
    }

    .Nous_developpeur{
        margin-right: auto;
        margin-left: auto;
    }
    .Nous_image{
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }
    .large{
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }

    .Nous_Image_1{
        height: 260px;
        width: 50%;
    }

    .Nous_Image_23{
        height: 130px;
        width: 50%;
    }

    .Nous_Image_4{
        height: 200px;
        width: 40%;
        margin-right: auto;
    }

    .Nous_Image_5{
        height: 200px;
        width: 35%;
    }

    .Nous_partenaire{
        width: 90%;
        margin-top: 20px;
    }

    .Nous_julien{
        flex-direction: row;
        justify-content: flex-end;
    }
    .Nous_florent{
        flex-direction: row;
        justify-content: flex-end;
    }

    .Nous{
        padding-bottom: 65px;
    }
  
  }

