.Prestation {
  padding: 50px 5%;
  margin-bottom: 70px;
  background: #f5f7fc;
  h2 {
    max-width: 664px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-bottom: 35px;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 32px;
    grid-row-gap: 30px;
    &__card {
      background-color: red;
      padding: 44px 40px 40px 48px;
      overflow: hidden;
      border-style: solid;
      border-width: 1px;
      border-color: #eff0f6;
      border-radius: 40px;
      background-color: #fff;
      box-shadow: 0 6px 12px 0 rgba(53, 53, 89, 0.184);
      display: flex;
    }
  }
}

.Prestation__grid__card__img img {
  margin-right: 20px;
  border-radius: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.Prestation__grid__card__content {
  h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #14142b;
    font-size: 26px;
    line-height: 1.346em;
    font-weight: 700;
    letter-spacing: 0.02em;
  }
  p {
    margin-bottom: 16px;
    color: #6e7191;
    font-size: 18px;
  }
  a {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;

    font-size: 18px;
    color: #14142b;
    line-height: 1.111em;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
}

@media screen and (max-width: 991px) {
  .Prestation {
    &__grid {
      &__card {
        flex-direction: column;
      }
    }
  }

  .Prestation__grid__card__img img {
    margin-bottom: 25px;
  }

  .Prestation__grid__card__content {
    h3 {
    }
    p {
    }
    a {
    }
  }
}

@media screen and (max-width: 769px) {
  .Prestation {
    padding: 50px 8%;
    &__grid {
      grid-template-columns: 1fr;
      &__card {
        flex-direction: row;
      }
    }
  }

  .Prestation__grid__card__img img {
    margin-right: 28px;
  }

  .Prestation__grid__card__content {
    h3 {
    }
    p {
    }
    a {
    }
  }
}

@media screen and (max-width: 478px) {
  .Prestation {
    padding: 50px 8%;
    &__grid {
      grid-template-columns: 1fr;
      &__card {
        flex-direction: column;
        padding: 37px 25px 40px;
      }
    }
  }

  .Prestation__grid__card__img img {
    margin-bottom: 12px;
    width: 90px;
  }

  .Prestation__grid__card__content {
    h3 {
    }
    p {
    }
    a {
    }
  }
}
