.Prestationspe_titre{
    margin-top:70px;
}

.Prestationspe_presentation{
    display: flex;
    width: 100%;
    align-items: center !important;
}

.Prestationspe_Presentation_text{
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 0 10.5%;

}
.Prestationspe_Presentation_text_titre{
    display: flex;

}
.Prestationspe_Presentation_text_p{
    display: flex;
}

.Prestationspe_Presentation_Image{
    display: flex;
    width: 50%;
    background-color: white;
}

.Prestationspe_Presentation_Image_img{
    width: 50%;
}

.Prestationspe_separation{
    background-color: orange;
    width: 100%;
    min-height: 300px;
    background-size: cover;
    text-align: center;
    padding: 6.5rem 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.Prestationspe_Separation_titre{
    display: flex;
    margin: auto;
}
.Prestationspe_Separation_button{
    display: flex;
    margin: auto;
}

.Prestationspe_explication{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3.5rem 0.938rem;
}
.Prestationspe_Explication_accroche{
    display: flex;
    margin: auto;
    text-align: center !important;
    font-size: 1.25rem;
    margin-bottom: 15px;
}
.Prestationspe_Explication_titre{
    text-align: center !important;
    display: flex;
    margin: auto;
    color: #2B2828;
    font-size: 3rem;
    max-width: 860px;
    margin: auto;
    margin-bottom: 5rem;
    margin-top: 1rem;
}

.Prestationspe_Explication_detail{
    display: flex;
    margin-bottom: 300px;
}
.Prestationspe_Explication_Detail_text{
    display: flex;
    flex-direction: column;
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
}