.Presentation__glob {
  display: flex;
  text-align: left;
}

.Presentation__left {
  margin-right: 40px;
}

.Presentation__right {
  display: flex;
  padding: 30px 20px;
  margin-right: 20px;
  &__card {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    border-radius: 30px;
    max-width: 370px;
    height: 340px;
    img {
      border-radius: 30px 30px 0 0;
    }
  }
}

.controlebutton {
  margin-left: 50px;
  margin-top: 50px;
}

.Presentation__right__card__content {
  display: flex;
  flex-direction: column;
  padding: 15px 40px 20px;
  &__categorie {
    max-width: 193px;

    margin-bottom: 12px;
    padding: 9px 14px;
    background-color: #14142b;
    color: white;
    box-shadow: 0 8px 22px 0 rgb(0 0 0 / 28%);
    font-size: 14px;
    font-weight: 500;
    border-radius: 1000px;
  }
  &__title {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #14142b;
    font-size: 26px;
    line-height: 1.346em;
    font-weight: 700;
    letter-spacing: 0.02em;
  }
}


.Presentation__glob{
  width: 100%;
}

.Presentation__left{
  width: 20%;

}

.tns-outer{
  overflow: hidden;
}

.Presentation__right__card {
  background-color: white;
}

.Presentation_card_bg{
  background:url("/images/point.svg");
  overflow: hidden;
}