.presentation {
  position: relative;
  overflow: hidden;
  width: 100%;
  &__degrade {
    z-index: 2;
  }
  &__vague {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 722px;
    border-top: 2px solid white;
    padding: 0px 150px;
    border: 2px solid red;
    background-image: url("../Images/dégradé.png");
    width: 100%;
    &__text {
      width: 60%;
      p {
        margin-top: 40px;
        margin-right: 5.5%;
        background-color: rgb(19, 113, 113);
      }
      h1 {
        color: #333;
      }
      span {
        color: #1378bb;
      }
    }

    img {
      width: 43%;
      height: auto;
      z-index: 2;
      flex-grow: 0;
    }
  }
}

@media screen and (max-width: 1476px) and (min-width: 1025px) {
  .presentation {
    &__degrade {
    }
    &__vague {
    }
    &__header {
      padding: 0px 103px;
      &__text {
        p {
        }
        h1 {
          font-size: 59px;
        }
        span {
        }
      }

      img {
      }
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .presentation {
    &__degrade {
    }
    &__vague {
      width: 800px;
      z-index: 1;
    }
    &__header {
      flex-direction: column;
      padding: 0px 0px;
      &__text {
        width: 80%;
        p {
          z-index: 2;
        }
        h1 {
        }
        span {
        }
      }

      img {
        width: 39%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .presentation {
    &__degrade {
    }
    &__vague {
      width: 86%;
    }
    &__header {
      height: 536px;
      flex-direction: column;
      padding: 0px 0px;
      &__text {
        width: 100%;
        p {
        }
        h1 {
        }
        span {
        }
      }

      img {
        margin-bottom: -68px;
        width: 50%;
      }
    }
  }
}
