.Presentation_card {
  background-color: #1313b6;
  width: 50%;
  height: 300px;
  margin-right: 40px;
  &__img {
    height: 50%;
    display: flex;
    justify-content: center;
  }
  &__button {
    display: inline-block;
    margin-bottom: 12px;
    padding: 9px;
    background-color: #14142b;
    box-shadow: 0 8px 22px 0 rgb(0 0 0 / 28%);
    font-size: 14px;
    font-weight: 500;
    color: white;
  }
}

.Presentation_glob {
  display: flex;
  justify-content: space-around;
}
