.Processus {
  display: flex;
  flex-direction: column;
  background-color: white;
  background-attachment: fixed;
  border-radius: 80px;
  margin: 0 4% 50px 4%;
  padding: 90px 3% 70px 4%;
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 20px;

    margin-right: 24px;
    margin-bottom: 60px;
    h2 {
    }
    p {
      margin-top: 15px;
    }
    button {
      background: #0051b1;
      box-shadow: 0px 8px 22px #3f80fd;
      border-radius: 1000px;
      padding: 28px 50px;

      font-weight: 550;
      font-size: 18px;
      line-height: 20px;
      color: white;
      letter-spacing: 0.36px;
      max-width: 250px;
      margin-top: 30px;
    }
  }
  &__right {
    display: flex;
    justify-content: center;
    position: relative;
  }
}

.horizontalBar {
  border: solid 0.5px;
  opacity: 40%;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;

  background: #d9dbe9;
}

.Union {
  position: absolute;
  width: 68px;
  height: 34px;
  left: 55px;
  top: 254px;
}

.animation_load {
  margin-left: 5px;
  margin-top: 240px;
  display: flex;
}

.animation_carré {
  width: 10px;
  height: 10px;
}
.red {
  background-color: red;
  margin-right: 5px;
}

.rectanglebleu {
  z-index: 9999;
  margin-right: -10px;
  background-color: #0051b1;
  animation-iteration-count: infinite;
  animation-name: rectanglebleu;
  animation-duration: 2s;
  animation-timing-function: steps(5, end);
}
@keyframes rectanglebleu {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(75px);
  }
}

.Union {
  position: absolute;
  width: 68px;
  height: 34px;
  left: -68px;
  top: 229px;
}

.Processus__right__card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 388px;
  background: #ffffff;
  border: 1px solid #eff0f6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 49px 40px 40px 49px;
  max-width: 400px;
  img {

    border-radius: 49px 49px 49px 49px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px 30px 40px 60px;
    h3 {
      font-size: 26px;

      margin-bottom: 20px;
    }
    p {
      font-weight: 500;
      font-size: 19px;
      line-height: 30px;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 991px) {
  .Processus {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__left {
      display: flex;
      position: relative;
      margin-bottom: 116px;
      text-align: center;
      max-width: 100%;

      h2 {
      }
      p {
      }
      button {
        margin: 59px auto 65px auto;
      }
    }
    &__right {
      flex-direction: column;
    }
  }

  .Processus__right__card {
    img {
    }
    &__content {
      h3 {
      }
      p {
        font-size: 17px;
        font-weight: 500;
      }
    }
  }

  .Union {
    position: absolute;
    width: 68px;
    height: 34px;
    left: 164px;
    top: -50px;
    transform: rotate(90deg);
    z-index: 0;
  }

  .animation_load {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .animation_carré {
    width: 10px;
    height: 10px;
  }
  .red {
    background-color: red;
    margin-right: 0px;
    margin-bottom: 5px;
  }

  .rectanglebleu {
    z-index: 9999;
    margin-right: 0px;
    margin-bottom: -10px;
    background-color: #0051b1;
    animation-iteration-count: infinite;
    animation-name: rectanglebleu;
    animation-duration: 2s;
    animation-timing-function: steps(5, end);
  }
  @keyframes rectanglebleu {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(75px);
    }
  }
}

@media screen and (max-width: 767px) {
  .Processus {
    padding: 40px 3% 38px 4%;

    &__left {
      h2 {
        font-size: 29px;
        margin-bottom: 15px;
      }
      p {
        font-size: 15px;
      }
      button {
        margin: 59px auto 65px auto;
      }
    }
    &__right {
    }
  }

  .Processus__right__card {
    flex-direction: column;
    padding: 0 0 0 0;
    img {
      width: auto;
      object-fit: cover;
    }
    &__content {
      padding: 15px 31px 30px 31px;
      h3 {
        font-size: 21px;
      }
      p {
        font-size: 15px;
        font-weight: 400;
      }
    }
  }
}
