.bigContainer {
  width: 63%;
  display: flex;
  flex-direction: column;
  box-shadow: -9px 12px 20px 2px rgba(0, 0, 0, 0.46);
  border-radius: 38px;

  .containerBienvenue {
    margin: 0px -30px 20px -28px;
    background: $color-Primaire;
    border-radius: 36px 36px 22px 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 12px 0;

    .bienvenue {
      margin: auto;
    }
    a {
      text-decoration: none;
      .nouvellePublication {
        background: #ffffff;
        border: 4px solid $color-Tertiaire;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 13px;

        cursor: pointer;
        font-size: 20px;
        display: flex;
        align-items: center;
        padding: 13px 25px 10px 25px;
        margin-right: 15px;
      }
    }
  }
}

.containerPost {
  width: 80%;
  position: relative;
  margin: auto;
  background: #fad7d7;
  margin: 4px auto 19px auto;
  display: flex;
  flex-direction: column;

  box-shadow: -1px 6px 19px rgba(0, 0, 0, 0.4);
  border-radius: 38px 36px 36px 36px;
}

//Tablette

@media screen and (max-width: 768px) {
  .bigContainer {
    width: 87%;
    height: auto;
    margin: 35px auto auto auto;

    .containerBienvenue {
      .bienvenue {
        padding-left: 0px;
      }
      a {
        .nouvellePublication {
          padding: 9px 12px 10px 13px;
        }
      }
    }
  }

  .containerPost {
    margin-top: 20px;
    width: 90%;
  }
}

//mobile devices

@media screen and (max-width: 629px) {
  .bigContainer {
    .containerBienvenue {
      margin: 0px -20px 20px -19px;
      h1 {
        font-size: 19px;
      }
      .bienvenue {
      }
      a {
        .nouvellePublication {
          padding: 9px 9px 10px 9px;
          font-size: 11px;
        }
      }
    }
  }
}

.erreur {
  color: red;
}
