.colorsaumon {
  color: $saumon;
}
.colorsaumongris {
  color: $saumongris;
}

.Prestation {
  display: flex;
  flex-direction: column;
  background: #1277ba;
  padding-bottom: 40px;

  &__titlePrestation {
    color: #ffffff;
    margin: 45px auto;
  }
  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
    &__bloc {
      display: flex;

      margin: 0px 30px 30px 30px;
    }
  }
}

.Prestation__container__bloc {
  padding: 10px 17px 0 38px;
  padding-bottom: 20px;
  border: 3px solid rgba(255, 255, 255, 0.47);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 600px;

  h2 {
    display: block;
    width: 266px;
  }
  &__inside {
    display: flex;
    p {
      text-align: justify;
      color: #000000;
    }
    button {
      margin-top: 30px;
      background-color: #0075ff; /* Green */
      border: none;
      color: white;
      padding: 11px 13px;
      text-align: center;
      font-size: 16px;
      box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.47);
      border-radius: 8px;
    }
    img {
      margin-left: auto;
      padding-left: 20px;
      width: auto;
      height: 148px;
    }
  }
}

.bloc1 {
  background: #76baef;
}

.bloc2 {
  background: #ffdadb;
}

@media screen and (max-width: 1130px) {
  .Prestation__titlePrestation {
    font-size: 54px;
  }
  .Prestation__container__bloc {
    margin: 0px 15px 26px 15px;
    &__inside {
      img {
      }
      p {
      }
      button {
      }
    }
    h2 {
    }
  }
}

@media screen and (max-width: 950px) {
  .Prestation__titlePrestation {
  }
  .Prestation__container__bloc {
    padding: 10px 12px 0px 18px;
    &__inside {
      p {
      }
      button {
        margin-top: 13px;
        margin-bottom: 13px;
      }
      img {
        height: 100px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .Prestation__container {
    flex-direction: column;
    align-items: center;
    &__bloc {
      padding: 10px 12px 0px 18px;
      width: auto;
      &__inside {
        p {
          font-size: 12px;
        }
        button {
          margin-top: 13px;
          margin-bottom: 13px;
        }
        img {
          margin-top: -20px;
          height: 100px;
        }
      }
    }
  }
}

//////////////////////////////////////////////////
/// /////////////////////////////////////////////

.creation {
  background-color: #d7dfe4;
  padding-bottom: 50px;
  margin: -20px auto auto auto;
  h1 {
    /* linear */
    background: linear-gradient(
      90deg,
      #184f6f 0%,
      rgba(255, 101, 0, 0.99) 100%
    );
    background-clip: text;
    color: transparent;
  }
}

.GridCreation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
  margin: 70px 180px;

  div {
    box-sizing: border-box;
    width: 100%;
    height: 372px;
    background: #1e7ee2;

    background: #1e7ee2;
    border: 3px solid rgba(255, 255, 255, 0.47);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
}
