.newPostContainer {
  background: rgba(238, 218, 218, 0.94);
  box-shadow: -9px 12px 20px 2px rgba(0, 0, 0, 0.46);
  border-radius: 38px;
  width: 80%;
  height: 304px;
  margin: 20px auto 20px auto;
  padding: 7px 25px 15px 25px;
  display: flex;
  flex-direction: column;
  position: relative;

  .addPostTop {
    text-align: initial;
    margin: 6px 0 10px 20px;
    img {
      position: absolute;
      right: 25px;
      top: -8px;
    }
    h2 {
      color: #c22626;
      font-weight: 700;
      font-size: 28px;
    }
  }

  p {
    margin-top: 20px;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
  }

  input {
    background: #ffffff;
    border-radius: 11px;
    width: 90%;
    height: 40px;
  }
  img {
    margin-top: 20px;
  }

  .button_bottom {
    display: flex;
    position: absolute;
    right: 38px;
    bottom: -92px;
    input {
      background: #ffffff;
      border: 4px solid #f25132;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 13px;
      cursor: pointer;
      margin-right: 20px;
    }

    button {
      background: #f25132;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 13px;
      width: 100px;
      height: 40px;
      cursor: pointer;
    }
  }
}
