@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Display", sans-serif;
}

body {
  margin: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.bold100 {
  font-weight: 100;
}

.bold200 {
  font-weight: 200;
}

.bold300 {
  font-weight: 300;
}

.bold400 {
  font-weight: 400;
}

.bold800 {
  font-weight: 800;
}

.bold {
  font-weight: bold;
}

h1 {
  color: #14142b;
  font-size: 60px;
  line-height: 1.233em;
  font-weight: 700;
  letter-spacing: 0.02em;
}

h2 {
  color: #14142b;
  font-size: 40px;
  line-height: 1.35em;
  font-weight: 700;
  letter-spacing: 0.02em;
}

h3 {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 0.1px;
}

p {
  color: #6e7191;
  font-size: 18px;
  line-height: 1.667em;
  letter-spacing: 0.02em;
}

.sectionbox {
  max-width: 1937px;
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 991px) {
  H1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  .sectionbox {
    max-width: 1140px;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 33px;
  }
  h3 {
    font-size: 22px;
  }
  .sectionbox {
    max-width: 767px;
  }
}
.navbar {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0f3d6e;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
  position: relative;
}
.navbar__logo {
  width: 280px;
  margin-top: 160px;
}
.navbar .pc {
  display: flex;
}

.navbar__links {
  list-style: none;
}
.navbar__links li {
  display: inline-block;
  padding: 0 15px;
  color: white;
}
.navbar__links li a {
  font-size: 22px;
  transition: all 0.3s ease 0s;
  margin-right: auto;
  color: white;
}
.navbar__links li a:hover {
  color: red;
}

.cta {
  margin-right: -41px;
}

button {
  padding: 9px 25px;
  background-color: red;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: aqua;
}

.navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}
.navbar-menu svg {
  cursor: pointer;
}
.navbar-menu__container {
  background-color: #0c3158;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 black;
}
.navbar-menu__container__links nav {
  margin-bottom: 20px;
}

@media screen and (max-width: 1204px) {
  .navbar__logo {
    width: 173px;
    margin-top: 91px;
  }
  .navbar__links li a {
    font-size: 16px;
  }
}
@media screen and (max-width: 988px) {
  .navbar__logo {
    width: 80px;
    margin-top: 10px;
  }
  .navbar__links li a {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .navbar .pc {
    display: none;
  }
  .navbar-menu {
    display: flex;
  }
  .navbar {
    justify-content: flex-end;
    position: relative;
  }
  .navbar-menu svg {
    margin-left: 20px;
  }
  .navbar-menu__container {
    margin: 23px 14px 23px 23px;
    padding: 23px;
    top: 19px;
    right: 0px;
    background-color: #e411d6;
  }
}
.presentation {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.presentation__degrade {
  z-index: 2;
}
.presentation__vague {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.presentation__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 722px;
  border-top: 2px solid white;
  padding: 0px 150px;
  border: 2px solid red;
  background-image: url("../Images/dégradé.png");
  width: 100%;
}
.presentation__header__text {
  width: 60%;
}
.presentation__header__text p {
  margin-top: 40px;
  margin-right: 5.5%;
  background-color: rgb(19, 113, 113);
}
.presentation__header__text h1 {
  color: #333;
}
.presentation__header__text span {
  color: #1378bb;
}
.presentation__header img {
  width: 43%;
  height: auto;
  z-index: 2;
  flex-grow: 0;
}

@media screen and (max-width: 1476px) and (min-width: 1025px) {
  .presentation__header {
    padding: 0px 103px;
  }
  .presentation__header__text h1 {
    font-size: 59px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .presentation__vague {
    width: 800px;
    z-index: 1;
  }
  .presentation__header {
    flex-direction: column;
    padding: 0px 0px;
  }
  .presentation__header__text {
    width: 80%;
  }
  .presentation__header__text p {
    z-index: 2;
  }
  .presentation__header img {
    width: 39%;
  }
}
@media screen and (max-width: 767px) {
  .presentation__vague {
    width: 86%;
  }
  .presentation__header {
    height: 536px;
    flex-direction: column;
    padding: 0px 0px;
  }
  .presentation__header__text {
    width: 100%;
  }
  .presentation__header img {
    margin-bottom: -68px;
    width: 50%;
  }
}
.colorsaumon {
  color: #e47272;
}

.colorsaumongris {
  color: #ffcdcd;
}

.Prestation {
  display: flex;
  flex-direction: column;
  background: #1681F5;
  padding-bottom: 40px;
}
.Prestation__titlePrestation {
  color: #ffffff;
  margin: 45px auto;
}
.Prestation__container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Prestation__container__bloc {
  display: flex;
  margin: 0px 30px 30px 30px;
}

.Prestation__container__bloc {
  padding: 10px 17px 0 38px;
  padding-bottom: 20px;
  border: 3px solid rgba(255, 255, 255, 0.47);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 600px;
}
.Prestation__container__bloc h2 {
  display: block;
  width: 266px;
}
.Prestation__container__bloc__inside {
  display: flex;
}
.Prestation__container__bloc__inside p {
  text-align: justify;
  color: #000000;
}
.Prestation__container__bloc__inside button {
  margin-top: 30px;
  background-color: #0075ff; /* Green */
  border: none;
  color: white;
  padding: 11px 13px;
  text-align: center;
  font-size: 16px;
  box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.47);
  border-radius: 8px;
}
.Prestation__container__bloc__inside img {
  margin-left: auto;
  padding-left: 20px;
  width: auto;
  height: 148px;
}

.bloc1 {
  background: #76baef;
}

.bloc2 {
  background: #ffdadb;
}

@media screen and (max-width: 1130px) {
  .Prestation__titlePrestation {
    font-size: 54px;
  }
  .Prestation__container__bloc {
    margin: 0px 15px 26px 15px;
  }
}
@media screen and (max-width: 950px) {
  .Prestation__container__bloc {
    padding: 10px 12px 0px 18px;
  }
  .Prestation__container__bloc__inside button {
    margin-top: 13px;
    margin-bottom: 13px;
  }
  .Prestation__container__bloc__inside img {
    height: 100px;
  }
}
@media screen and (max-width: 767px) {
  .Prestation__container {
    flex-direction: column;
    align-items: center;
  }
  .Prestation__container__bloc {
    padding: 10px 12px 0px 18px;
    width: auto;
  }
  .Prestation__container__bloc__inside p {
    font-size: 12px;
  }
  .Prestation__container__bloc__inside button {
    margin-top: 13px;
    margin-bottom: 13px;
  }
  .Prestation__container__bloc__inside img {
    margin-top: -20px;
    height: 100px;
  }
}
.creation {
  background-color: #0E3C6E;
  padding-bottom: 50px;
  margin: -20px auto auto auto;
}
.creation h1 {
  /* linear */
  background: linear-gradient(90deg, #184f6f 0%, rgba(255, 101, 0, 0.99) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.GridCreation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
  margin: 70px 180px;
}
.GridCreation div {
  box-sizing: border-box;
  width: 100%;
  height: 372px;
  background: #1e7ee2;
  background: #1e7ee2;
  border: 3px solid rgba(255, 255, 255, 0.47);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

/* Footer */
.Footer {
  background: #D9D9D9;
}

.Footer_H3 {
  text-align: justify;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90deg, #184F6F 0%, rgba(255, 101, 0, 0.99) 101.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.Footer_Bloc_presta {
  display: flex;
  margin: auto;
  justify-content: center;
}

.Footer_presta {
  padding: 5%;
  padding-top: 0%;
}

.Footer_Bloc_devis {
  position: relative;
  z-index: 1;
  margin-top: 30px;
  display: flex;
  -o-object-fit: cover;
  object-fit: cover;
  background-image: url("../Images/fondFooter.jpg");
  background-repeat: round;
  width: 60%;
  border-radius: 0.66667rem;
  margin: auto;
  top: -75px;
  align-items: center;
  padding-right: 44px;
}

.Footer_confier {
  font-style: normal;
  font-weight: 800;
  padding: 20px;
  color: white;
  letter-spacing: -1px;
}

.Footer_Button_devis {
  width: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.33333rem;
  border-radius: 1.66667rem;
  font-weight: 700;
  background: #fff;
  transition: all 400ms;
  overflow: hidden;
  color: #485fc7;
  cursor: pointer;
  text-decoration: none;
}

.Footer_Button_devis:hover {
  transform: scale(1.1);
  background-color: #0365D0;
  color: #ECA400;
}

.Footer_Bloc_footer {
  display: flex;
  background: #1E1E1E;
  color: white;
  margin: auto;
  justify-content: center;
}

.Footer_Bloc_Footer_p {
  -webkit-margin-end: 10%;
          margin-inline-end: 10%;
  text-align: center;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}

.Footer_li {
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 29px;
  /* identical to box height */
  text-align: justify;
  color: #362828;
  cursor: pointer;
}

.Footer_li:hover {
  color: #485fc7;
}

.Footer_li_SiteInternet {
  list-style-image: url("../Images/logoSiteInternet.png");
}

.Footer_li_Refonte {
  list-style-image: url("../Images/refontesite.png");
}

.Footer_li_Agence {
  list-style-image: url("../Images/agence.png");
}

.Footer_li_Devis {
  list-style-image: url("../Images/devi.png");
}

.Footer_li_Enveloppe {
  list-style-image: url("../Images/enveloppe.png");
}

@media only screen and (max-width: 600px) {
  .Footer_Bloc_presta {
    flex-direction: column;
    margin: auto;
    text-align: center;
    align-items: left;
  }
  .Footer_confier {
    font-size: 14px;
  }
  .Footer_Button_devis {
    font-size: 10px;
    width: 200px;
  }
  .Footer_li {
    font-size: 18px;
  }
}
@media only screen and (max-width: 770px) and (min-width: 601px) {
  .Footer_li {
    font-size: 12px;
  }
  .Footer_confier {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1025px) and (min-width: 771px) {
  .Footer_li {
    font-size: 17px;
  }
  .Footer_confier {
    font-size: 24px;
  }
}
/* Nous */
.Nous {
  background-color: #15375C;
  color: white;
  min-height: 1000px;
}

.Nous_titre {
  margin: auto;
  text-align: center;
}

.Nous_developpeur {
  margin-left: 900px;
  margin-top: 30px;
  background: #F78D4D;
  border-radius: 17px;
  text-align: center;
  color: #FFFFFF;
  max-width: 150px;
}

.Nous_colonne {
  display: flex;
  margin-top: 30px;
}

.Nous_image {
  width: 850px;
  display: flex;
  flex-direction: column;
  max-height: 700px;
}

.large {
  width: 850px;
  display: flex;
  height: 50%;
}

.Nous_Image_1 {
  width: 45%;
  margin: 5%;
  margin-top: 0px;
  height: 90%;
  transition: all 400ms;
}

.Nous_Image_23 {
  width: 45%;
  height: 45%;
  margin: 5%;
  margin-top: 0px;
}

.Nous_Image_2 {
  width: 100%;
  height: 90%;
  transition: all 400ms;
}

.Nous_Image_3 {
  width: 100%;
  height: 90%;
  margin-top: 10%;
  transition: all 400ms;
}

.Nous_Image_4 {
  width: 50%;
  margin: 5%;
  height: 100%;
  transition: all 400ms;
}

.Nous_Image_5 {
  width: 35%;
  margin: 5%;
  height: 100%;
  transition: all 400ms;
}

.Nous_Image_1:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.Nous_Image_2:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.Nous_Image_3:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.Nous_Image_4:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.Nous_Image_5:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.Nous_partenaire {
  width: 45%;
  margin-left: 4%;
}

.Nous_partenaire_text {
  margin-top: 35px;
  min-height: 250px;
}

.Nous_julien {
  display: flex;
}

.Nous_Julien_titre {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25px;
}

.Nous_Julien_dev {
  margin-top: 5px;
}

.Nous_florent {
  display: flex;
  margin-top: 5px;
}

@media only screen and (max-width: 1301px) and (min-width: 870px) {
  .Nous_colonne {
    flex-direction: column;
    margin: auto;
  }
  .Nous_developpeur {
    margin-right: auto;
    margin-left: auto;
  }
  .Nous_image {
    margin-right: auto;
    margin-left: auto;
  }
  .large {
    margin-right: auto;
    margin-left: auto;
  }
  .Nous_Image_1 {
    height: 350px;
  }
  .Nous_Image_23 {
    height: 175px;
  }
  .Nous_Image_4 {
    height: 200px;
  }
  .Nous_Image_5 {
    height: 200px;
  }
  .Nous_partenaire {
    width: 90%;
  }
  .Nous_julien {
    flex-direction: row;
    justify-content: flex-end;
  }
  .Nous_florent {
    flex-direction: row;
    justify-content: flex-end;
  }
  .Nous {
    padding-bottom: 100px;
  }
}
@media only screen and (max-width: 871px) {
  .Nous_colonne {
    flex-direction: column-reverse;
    margin: auto;
  }
  .Nous_developpeur {
    margin-right: auto;
    margin-left: auto;
  }
  .Nous_image {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  .large {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  .Nous_Image_1 {
    height: 260px;
    width: 50%;
  }
  .Nous_Image_23 {
    height: 130px;
    width: 50%;
  }
  .Nous_Image_4 {
    height: 200px;
    width: 40%;
    margin-right: auto;
  }
  .Nous_Image_5 {
    height: 200px;
    width: 35%;
  }
  .Nous_partenaire {
    width: 90%;
    margin-top: 20px;
  }
  .Nous_julien {
    flex-direction: row;
    justify-content: flex-end;
  }
  .Nous_florent {
    flex-direction: row;
    justify-content: flex-end;
  }
  .Nous {
    padding-bottom: 65px;
  }
}
.devis {
  display: flex;
  height: 500px;
  background-color: #0365D0;
}

.Devis_bloc {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 85%;
  background-color: #0E3C6E;
  transition: all 400ms;
}

.Devis_bloc_2 {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 85%;
  background-color: #0E3C6E;
  visibility: hidden;
  transition: all 400ms;
}

.Devis_Bloc_choix {
  display: flex;
  justify-content: space-around;
}

.Prestation {
  padding: 50px 5%;
  background: #f5f7fc;
}
.Prestation h2 {
  max-width: 664px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 35px;
}
.Prestation__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 32px;
  grid-row-gap: 30px;
}
.Prestation__grid__card {
  background-color: red;
  padding: 44px 40px 40px 48px;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  border-color: #eff0f6;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 6px 12px 0 rgba(53, 53, 89, 0.184);
  display: flex;
}

.Prestation__grid__card__img img {
  margin-right: 20px;
  border-radius: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.Prestation__grid__card__content h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #14142b;
  font-size: 26px;
  line-height: 1.346em;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.Prestation__grid__card__content p {
  margin-bottom: 16px;
  color: #6e7191;
  font-size: 18px;
}
.Prestation__grid__card__content a {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  font-size: 18px;
  color: #14142b;
  line-height: 1.111em;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .Prestation__grid__card {
    flex-direction: column;
  }
  .Prestation__grid__card__img img {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 769px) {
  .Prestation {
    padding: 50px 8%;
  }
  .Prestation__grid {
    grid-template-columns: 1fr;
  }
  .Prestation__grid__card {
    flex-direction: row;
  }
  .Prestation__grid__card__img img {
    margin-right: 28px;
  }
}
@media screen and (max-width: 478px) {
  .Prestation {
    padding: 50px 8%;
  }
  .Prestation__grid {
    grid-template-columns: 1fr;
  }
  .Prestation__grid__card {
    flex-direction: column;
    padding: 37px 25px 40px;
  }
  .Prestation__grid__card__img img {
    margin-bottom: 12px;
    width: 90px;
  }
}
.Processus {
  display: flex;
  justify-content: space-between;
  padding: 50px 4%;
}
.Processus__left {
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  max-width: 39%;
  margin-right: 30px;
}
.Processus__left p {
  margin-top: 15px;
}
.Processus__left button {
  background: #0051b1;
  box-shadow: 0px 8px 22px #3f80fd;
  border-radius: 1000px;
  padding: 28px 50px;
  font-weight: 550;
  font-size: 18px;
  line-height: 20px;
  color: white;
  letter-spacing: 0.36px;
  max-width: 250px;
  margin-top: 30px;
}
.Processus__right {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.Processus__right__card {
  display: flex;
  padding: 0 20px 0 0;
  background: #ffffff;
  border: 1px solid #eff0f6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 49px 40px 40px 49px;
  max-width: 600px;
}
.Processus__right__card img {
  margin-right: 34px;
  border-radius: 49px 0 0 49px;
}
.Processus__right__card__content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.Processus__right__card__content h3 {
  font-size: 26px;
  margin-bottom: 10px;
}
.Processus__right__card__content p {
  margin-bottom: 5px;
}

@media screen and (max-width: 991px) {
  .Processus {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Processus__left {
    display: flex;
    position: relative;
    text-align: center;
    max-width: 100%;
  }
  .Processus__left button {
    margin: 59px auto 65px auto;
  }
  .Processus__right__card__content p {
    font-size: 17px;
    font-weight: 500;
  }
}
@media screen and (max-width: 767px) {
  .Processus__left button {
    margin: 59px auto 65px auto;
  }
  .Processus__right__card {
    flex-direction: column;
    padding: 0 0 0 0;
  }
  .Processus__right__card img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 49px 39px 0 0;
  }
  .Processus__right__card__content {
    padding: 15px 31px 30px 31px;
  }
  .Processus__right__card__content h3 {
    font-size: 20px;
  }
}
.Header_global {
  position: relative;
  overflow: hidden;
  padding: 60px 5% 100px;
}

.Header_titre {
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.36px;
  color: #FF3951;
  justify-content: space-evenly;
  margin-bottom: 18px;
}

.Header_creation {
  font-style: normal;
  font-weight: 700;
  line-height: 1.233em;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1.2px;
  margin-bottom: 24px;
  color: #14142B;
  justify-content: space-evenly;
}

.Header_description {
  max-width: 500px;
  margin: 0px auto 48px auto;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.36px;
  margin-bottom: 70px;
  color: #6E7191;
  justify-content: space-evenly;
}

.Header_button {
  background: #0051B1;
  box-shadow: 0px 8px 22px #3F80FD;
  border-radius: 1000px;
  justify-content: space-evenly;
  margin: auto;
  display: flex;
  color: white;
  padding: 28px 50px;
  line-height: 1.111em;
  font-weight: 700;
  text-align: center;
  font-size: 18px;
}

@media screen and (max-width: 991px) {
  .Header_creation {
    max-width: 576px;
    margin: auto;
    margin-bottom: 16px;
  }
  .Header_description {
    margin-bottom: 22px;
  }
}
@media screen and (max-width: 767px) {
  .Header_creation {
    font-size: 42px;
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media screen and (max-width: 479px) {
  .Header_creation {
    max-width: 402px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
    font-size: 35px;
  }
}
.Presentation_card {
  width: 50%;
  height: 300px;
}

.Image_card {
  height: 50%;
  display: flex;
  justify-content: center;
}

.Button_card {
  display: inline-block;
  margin-bottom: 12px;
  padding: 9px;
  background-color: #14142b;
  box-shadow: 0 8px 22px 0 rgba(0, 0, 0, 0.28);
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.Presentation_glob {
  display: flex;
  justify-content: space-around;
}/*# sourceMappingURL=main.css.map */