* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.bold100 {
  font-weight: 100;
}

.bold200 {
  font-weight: 200;
}

.bold300 {
  font-weight: 300;
}

.bold400 {
  font-weight: 400;
}

.bold800 {
  font-weight: 800;
}

.bold {
  font-weight: bold;
}

.navbar {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #0f3d6e;
  padding-left: 400px;
  display: flex;
}
.navbar__links {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  width: 100px;
}
.navbar__links__logo {
  position: absolute;
  width: 282.61px;
  height: auto;
  left: 80px;
  top: 40px;
}
.navbar__links__a {
  width: auto;
  font-weight: 700;
  font-size: 18px;
  margin: 0 1rem;
  display: flex;
}
.navbar__links__end {
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  line-height: 110px;
  margin: 0 20px;
}
.navbar__links__end a {
  margin: 0 20px;
}

.navbar__links__end__button {
  background-color: #0693e3;
  border-radius: 19px;
  margin: 34px 0 34px 0px;
  color: white;
  font-weight: 500;
}

.devis {
  width: 125px;
}

@media screen and (max-width: 1388px) {
  .navbar {
    padding-left: 234px;
  }
  .navbar__links__logo {
    width: 182.61px;
    left: 37px;
  }
  .navbar__links__a {
    font-size: 15px;
    margin: 0 7px;
  }
  .navbar__links__end {
    justify-content: flex-end;
    font-size: 14px;
  }
  .navbar__links__end a {
    margin: 0 0px;
  }
  .navbar__links__end__button {
    font-size: 10px;
  }
}

@media screen and (max-width: 1023px) {
  .navbar {
    padding-left: 196px;
  }
  .navbar__links__logo {
    width: 130.61px;
    left: 37px;
  }
  .navbar__links__a {
    font-size: 13px;
    margin: 0 7px;
  }
  .navbar__links__end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: 14px;
  }
  .navbar__links__end a {
    margin: 0 0px;
  }
  .navbar__links__end__button {
    font-size: 10px;
  }
  .devis {
    width: 125px;
  }
}
.colorsaumon {
  color: #e47272;
}

.colorsaumongris {
  color: #ffcdcd;
}

.Prestation {
  display: flex;
  flex-direction: column;
  background: #1277ba;
  padding-bottom: 40px;
}
.Prestation__titlePrestation {
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 71px;
  line-height: 97px;
  margin: 45px auto;
}
.Prestation__container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Prestation__container__bloc {
  display: flex;
  margin: 0px 30px 30px 30px;
}

.Prestation__container__bloc {
  padding: 10px 17px 0 38px;
  padding-bottom: 20px;
  border: 3px solid rgba(255, 255, 255, 0.47);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 600px;
}
.Prestation__container__bloc h2 {
  display: block;
  width: 266px;
}
.Prestation__container__bloc__inside {
  display: flex;
}
.Prestation__container__bloc__inside p {
  line-height: 17px;
  text-align: justify;
  color: #000000;
}
.Prestation__container__bloc__inside button {
  margin-top: 30px;
  background-color: #0075ff; /* Green */
  border: none;
  color: white;
  padding: 11px 13px;
  text-align: center;
  font-size: 16px;
  box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.47);
  border-radius: 8px;
}
.Prestation__container__bloc__inside img {
  margin-left: auto;
  padding-left: 20px;
  width: auto;
  height: 148px;
}

.bloc1 {
  background: #76baef;
}

.bloc2 {
  background: #ffdadb;
}

@media screen and (max-width: 1130px) {
  .Prestation__titlePrestation {
    font-size: 54px;
  }
  .Prestation__container__bloc {
    margin: 0px 15px 26px 15px;
  }
  .Prestation__container__bloc__inside img {
    height: 124px;
  }
  .Prestation__container__bloc__inside p {
    font-size: 14px;
  }
  .Prestation__container__bloc__inside button {
    font-size: 13px;
  }
  .Prestation__container__bloc h2 {
    font-size: 19px;
  }
}
@media screen and (max-width: 950px) {
  .Prestation__titlePrestation {
    font-size: 44px;
  }
  .Prestation__container__bloc {
    padding: 10px 12px 0px 18px;
  }
  .Prestation__container__bloc__inside p {
    line-height: 14px;
    font-size: 12px;
  }
  .Prestation__container__bloc__inside button {
    margin-top: 13px;
    margin-bottom: 13px;
  }
  .Prestation__container__bloc__inside img {
    height: 100px;
  }
}
@media screen and (max-width: 767px) {
  .Prestation__container {
    flex-direction: column;
    align-items: center;
  }
  .Prestation__container__bloc {
    padding: 10px 12px 0px 18px;
    width: auto;
  }
  .Prestation__container__bloc__inside p {
    line-height: 14px;
    font-size: 12px;
  }
  .Prestation__container__bloc__inside button {
    margin-top: 13px;
    margin-bottom: 13px;
  }
  .Prestation__container__bloc__inside img {
    margin-top: -20px;
    height: 100px;
  }
}
.creation {
  background-color: #d7dfe4;
  padding-bottom: 50px;
  margin: -20px auto auto auto;
}
.creation h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 71px;
  line-height: 97px;
  /* linear */
  background: linear-gradient(90deg, #184f6f 0%, rgba(255, 101, 0, 0.99) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.GridCreation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
  margin: 70px 180px;
}
.GridCreation div {
  box-sizing: border-box;
  width: 100%;
  height: 372px;
  background: #1e7ee2;
  background: #1e7ee2;
  border: 3px solid rgba(255, 255, 255, 0.47);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

/* Footer */
.Footer {
  background: #d9d9d9;
}

.Footer_H3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 39px;
  line-height: 53px;
  text-align: justify;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(90deg, #184f6f 0%, rgba(255, 101, 0, 0.99) 101.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.Footer_Bloc_presta {
  display: flex;
  margin: auto;
  justify-content: center;
}

.Footer_presta {
  padding: 5%;
  padding-top: 0%;
}

.Footer_Bloc_devis {
  position: relative;
  z-index: 1;
  margin-top: 30px;
  display: flex;
  -o-object-fit: cover;
  object-fit: cover;
  background-image: url("../Images/fondFooter.jpg");
  background-repeat: round;
  width: 80%;
  border-radius: 0.66667rem;
  margin: auto;
  top: -75px;
  align-items: center;
  padding-right: 44px;
}

.Footer_confier {
  font-size: 1.6rem;
  font-family: Metropolis, arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  padding: 20px;
  color: white;
  letter-spacing: -1px;
  line-height: 1.2;
}

.Footer_Button_devis {
  width: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.33333rem;
  border-radius: 1.66667rem;
  font-weight: 700;
  background: #fff;
  transition: all 400ms;
  overflow: hidden;
  color: #485fc7;
  cursor: pointer;
  text-decoration: none;
}

.Footer_Button_devis:hover {
  transform: scale(1.1);
  background-color: #485fc7;
  color: rgb(255, 217, 119);
}

.Footer_Bloc_footer {
  display: flex;
  background: #1e1e1e;
  color: white;
  margin: auto;
  justify-content: center;
}

.Footer_Bloc_Footer_p {
  -webkit-margin-end: 10%;
  margin-inline-end: 10%;
  text-align: center;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}

.Footer_li {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 29px;
  /* identical to box height */
  text-align: justify;
  color: #362828;
  cursor: pointer;
}

.Footer_li:hover {
  color: #485fc7;
}

.Footer_li_SiteInternet {
  list-style-image: url("../Images/logoSiteInternet.png");
}

.Footer_li_Refonte {
  list-style-image: url("../Images/refontesite.png");
}

.Footer_li_Agence {
  list-style-image: url("../Images/agence.png");
}

.Footer_li_Devis {
  list-style-image: url("../Images/devi.png");
}

.Footer_li_Enveloppe {
  list-style-image: url("../Images/enveloppe.png");
} /*# sourceMappingURL=main.css.map */
