.titlePrestation {
  color: #ffffff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 71px;
  line-height: 97px;
  margin: 45px auto;
}

.Prestation {
  background: #1277ba;
  display: flex;
  flex-direction: column;
}

.bigbloc {
  display: flex;
  gap: 30px;
  margin: 0px 30px 30px 30px;
}

.containerSectionPrestation {
  margin: auto;
  width: 644px;
  height: 305.67px;
  border: 3px solid rgba(255, 255, 255, 0.47);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.bloc1 {
  background: #76baef;
}

.bloc2 {
  background: #ffdadb;
}
