* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  
  
}

body {
  margin: 0;
  
}

a {
  color: #ffffff;
  text-decoration: none;
}

.bold100 {
  font-weight: 100;
}

.bold200 {
  font-weight: 200;
}

.bold300 {
  font-weight: 300;
}

.bold400 {
  font-weight: 400;
}

.bold800 {
  font-weight: 800;
}

.bold {
  font-weight: bold;
}



//taille texte
H1{
  font-size: 100px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
H2{
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  padding-top:60px;
  
}
h3{
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.1px;
}
p{
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.4px;
}

//section box
.sectionbox{
  max-width: 1937px;
  margin : 0 auto 0 auto;

}


@media screen and (max-width:1300px) and (min-width:1025px){

  H1{
    
  }
  H2{
    font-size: 73px;
  }
  H3{
    font-size: 33px;
  }
  p{

  }
  .sectionbox{
    max-width: 1140px;
  }
}

@media screen and (max-width:1024px) and (min-width:768px){

  H1{
    font-size: 64px;
  }
  H2{
    font-size: 65px;
  }
  H3{
    font-size: 23px;
  }
  p{
    font-size: 14px;
  }
  .sectionbox{
    max-width: 1024px;
  }
  
}

@media screen and (max-width:767px) {

  H1{
    font-size: 38px;
  }
  H2{
    font-size: 39px;
  }
  H3{
    font-size: 23px;
  }
  p{
    font-size: 14px;
  }
  .sectionbox{
    max-width: 767px;
  }
  
}