@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Display", sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  background-color: #1264b0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.bold100 {
  font-weight: 100;
}

.bold200 {
  font-weight: 200;
}

.bold300 {
  font-weight: 300;
}

.bold400 {
  font-weight: 400;
}

.bold800 {
  font-weight: 800;
}

.bold {
  font-weight: bold;
}

//taille texte
h1 {
  color: #14142b;
  font-size: 60px;
  line-height: 1.233em;
  font-weight: 700;
  letter-spacing: 0.02em;
}
h2 {
  color: #14142b;
  font-size: 40px;
  line-height: 1.35em;
  font-weight: 700;
  letter-spacing: 0.02em;
}
h3 {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 0.1px;
}
p {
  font-size: 18px;
  line-height: 1.667em;
  letter-spacing: 0.02em;
}

//section box
.sectionbox {
  max-width: 1937px;
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 991px) {
  H1 {
    font-size: 50px;
  }
  h2 {
    font-size: 35px;
  }

  p {
  }
  .sectionbox {
    max-width: 1140px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }

  .sectionbox {
    max-width: 767px;
  }
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }

  .sectionbox {
    max-width: 767px;
  }
}
