* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.bold100 {
  font-weight: 100;
}

.bold200 {
  font-weight: 200;
}

.bold300 {
  font-weight: 300;
}

.bold400 {
  font-weight: 400;
}

.bold800 {
  font-weight: 800;
}

.bold {
  font-weight: bold;
}
