//Principales

// Utilisataire couleur

// Text couleur
$saumon: #e47272;
$saumongris: #ffcdcd;

$bleufonce: #15375C;
$bleumifonce:#0E3C6E;
$bleumiclair: #0365D0;
$bleuclair: #1681F5;

$jaune:#ECA400;
$blanc:#E9F1F7;
$clairbleu: #058ED9;
$rouge: #D64045;
//dimensions


